# commands
alias ls='ls -a'
alias cl='clear'
alias sz='source ~/.zshrc'

alias tmux='tmux -2 -u'
alias one='tmux -L one'
alias two='tmux -L two'
alias three='tmux -L three'
alias four='tmux -L four'

alias oc='opencode'

# directories
alias cb='cd ~/Developer/Git/Codeberg'
alias gl='cd ~/Developer/Git/Gitlab'

alias dot='cd ~/Developer/Git/Codeberg/dotfiles'

# ws <server> [dir] [session]
# e.g. ws one
# e.g. ws two ~/.files
# e.g. ws three . dot
ws() {
  local server="${1:?Usage: ws <server> [dir] [session]}"
  local dir="${2:-$PWD}"
  local session="${3:-$(basename "$dir")}"

  _ws "$server" "$dir" "$session"
  _t attach-session -t "$session"
}

_ws() {
  local server="$1" dir="$2" session="$3"

  _t has-session -t "$session" 2>/dev/null && return 0

  # session+window 1
  _t new-session -d -s "$session" -c "$dir"

  # window 2
  _t new-window -t "$session:2" -c "$dir"
  _t send-keys -t "$session:2" "command hx" Enter

  # window 3
  _t new-window -t "$session:3" -c "$dir"
  _t send-keys -t "$session:3" "command opencode" Enter

  # window 4
  _t new-window -t "$session:4" -c "$dir"

  _t select-window -t "$session:1"
}

_t() { command tmux -2 -u -L "$server" "$@"; }
