# commands
alias ls='ls -a'
alias cl='clear'
alias sz='source ~/.zshrc'

alias tmux='tmux -2 -u'
alias one='tmux -L one'
alias two='tmux -L two'
alias three='tmux -L three'
alias four='tmux -L four'

alias oc='opencode'

# directories
alias cb='cd ~/Developer/Git/Codeberg'

alias dot='ws -2 hx three ~/Developer/Git/Github/dotfiles dot'

# ws [-1 cmd] [-2 cmd] [-3 cmd] [-4 cmd] <server> [dir] [session]
ws() {
  local cmd1="" cmd2="" cmd3="" cmd4=""

  local OPTIND=1
  while getopts "1:2:3:4:" opt; do
    case "$opt" in
      1) cmd1="$OPTARG" ;;
      2) cmd2="$OPTARG" ;;
      3) cmd3="$OPTARG" ;;
      4) cmd4="$OPTARG" ;;
    esac
  done
  shift $((OPTIND - 1))

  local server="${1:?Usage: ws [-1 cmd] [-2 cmd] [-3 cmd] [-4 cmd] <server> [dir] [session]}"
  local dir="${2:-$PWD}"
  local session="${3:-$(basename "$dir")}"

  _ws "$server" "$dir" "$session" "$cmd1" "$cmd2" "$cmd3" "$cmd4"
  _t attach-session -t "$session"
}

clad() {
  local server="${1:-one}"

  local dir name session
  for dir in ~/Developer/Git/Github/Clad/clad-dashboard*(/); do
    name="$(basename "$dir")"

    if [[ "$name" == "clad-dashboard" ]]; then
      session="clad"
    else
      session="${name#clad-dashboard_}"
    fi

    _t has-session -t "$session" 2>/dev/null && continue

    _ws "$server" "$dir" "$session" "" hx opencode "just up && just dev"

    _t set-hook -t "$session" session-closed "run-shell 'cd $dir && just down'"
  done

  _t attach-session -t "clad"
}

_ws() {
  local server="$1" dir="$2" session="$3"
  local cmds=("$4" "$5" "$6" "$7")

  for i in 1 2 3 4; do
    local cmd="${cmds[$i]}"

    if [[ $i -eq 1 ]]; then
      _t new-session -d -s "$session" -c "$dir"
    else
      _t new-window -t "$session:$i" -c "$dir"
    fi
    [[ -n "$cmd" ]] && _t send-keys -t "$session:$i" "$cmd" Enter
  done

  _t select-window -t "$session:1"
}

_t() { command tmux -2 -u -L "$server" "$@"; }
